@import "compass";

// universals
// --------------------------------------------

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 1.5;
    font-size: 30px;
    border-bottom: blue solid 3px;
    color: blue;
}